.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: space-between;
}

.menu {
    margin: auto;
}

.rightMenu {
    height: 44px;
    display: flex;
    column-gap: 4px;
}

.logo {
    width: 88px;
    height: 36px;
}

.searchWrapper {
    &:empty {
        display: none;
    }
}
