@import 'styles/_theme.scss';

.title {
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
        color: $primary;
    }
}

.root {
    width: 100%;
    max-width: 360px;
}

.active {
    color: $primary !important;
}
