.title {
    display: flex;
    color: inherit;
    cursor: pointer;
}

// .backdropprops {
//     background-color: transparent;
// }

.list {
    width: 250px;
    margin-top: 36px;
    position: relative;
    z-index: 99;
}

// .fulllist {
//     width: auto;
// }
