@import 'styles/_theme.scss';

.input {
    color: $gray !important;
    font-size: 14px !important;

    &::placeholder {
        font-size: 14px;
        color: $gray-3 !important;
    }
}

.underline {
    &:hover,
    &:before {
        border-color: $gray-4 !important;
        border-width: 1px !important;
    }
    &:after {
        border-color: $primary !important;
    }
}
