.content {
    // margin-top: 4px;
    min-height: calc(100vh - 120px);
    position: relative;
}

// .wrapper {
//     position: relative;
//     top: 0;
//     height: 100vh;
// }

// .mainPanel {
//     overflow: auto;
//     position: relative;
//     float: right;
//     transition: all 0.33s ease-in-out;
//     max-height: 100%;
//     width: 100%;
//     -webkit-overflow-scrolling: touch;
// }

.appBar {
    background-color: #fff;
    box-shadow: none;
    margin-bottom: 0;
    width: 100%;
    color: #000;
    border: 0;
    border-bottom: #ddd 1px solid;
    // padding: 8px 0;
    transition: all 150ms ease 0s;
    min-height: 64px;
    display: block;
}
