@import 'styles/_theme.scss';

.button {
    box-shadow: 0 2px 2px 0 rgba($gray, 0.14), 0 3px 1px -2px rgba($gray, 0.2), 0 1px 5px 0 rgba($gray, 0.12);

    & svg {
        font-size: 1.15rem;
    }
}

.justIcon {
    padding-left: 12px !important;
    padding-right: 12px !important;
    height: 40px;
    min-width: 40px !important;
    width: 41px;
    & svg {
        margin-right: 0px;
    }
}

.round {
    border-radius: 30px !important;
}

.transparent {
    box-shadow: unset;
    &:hover {
        background: transparent !important;
    }
}
