@import 'styles/_theme.scss';

.titleInfo {
    font-size: 22px;
    padding: 8px 0;
}

.address {
    font-size: 14px;
    color: $gray-2;
}

.distance {
    font-size: 14px;
    color: $primary;
    font-weight: bold;
}

.gridBorder {
    border: 1px solid $gray-4;
    padding: 12px;
}

.jobRecently {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.jobTags {
    border: 1px solid $gray-4;
    padding: 8px;
    cursor: pointer;
}

.jobTagsTitle {
    display: flex;
    justify-content: space-between;
}

.hot {
    font-size: 14px;
    color: $white;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: $hot;
    height: max-content;
}
