.gird {
    display: grid;
}

.gap4 {
    gap: 4px;
}

.gap8 {
    gap: 8px;
}

.gap12 {
    gap: 12px;
}

@media only screen and (min-width: 1028px) {
    .responsive-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .responsive-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 1028px) {
    .responsive-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 700px) and (max-width: 1028px) {
    .responsive-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 700px) {
    .responsive-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
