.left {
    padding: 16px 0 16px 16px;
    display: flex;
    gap: 16px;
}

.right {
    padding: 16px 16px 16px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    font-size: 12px;
    min-height: 50px;
}

.block {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.title {
    color: blue;
}

@media only screen and (max-width: 400px) {
    .right {
        display: none;
    }
}
