@import 'styles/_theme.scss';

.reactiveSearch {
    display: none;
}

.search {
    div {
        input {
            border: none;
            border-bottom: 1px solid $gray-4;
            background-color: $white;
            padding-bottom: 0px;
        }

        svg {
            fill: $primary !important;
        }

        div[class*='InputIcon'] {
            padding-left: 4px;
        }
    }
}
