@import 'styles/_theme.scss';

.notifications {
    // z-index: 4;
    position: absolute;
    top: 2px;
    border: 1px solid #fff;
    right: 4px;
    font-size: 9px;
    background: $danger;
    color: #fff;
    min-width: 16px;
    height: 16px;
    border-radius: 10px;
    text-align: center;
    line-height: 16px;
    display: block;
}

.manager {
    display: inline-block;
}
