@import "styles/_theme.scss";

.reactiveBase {
    margin-top: 8px;
}

.filterContainer {
    padding: 0 12px;
}

.filters {
    display: flex;
    column-gap: 8px;
}

.total {
    color: $hot;
}

.selectedFilter {
    margin: 8px 12px 0 12px;
    display: flex;
    gap: 8px;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.selectedTab {
    display: flex;
    gap: 2px;
}

.selectedClose {
    cursor: pointer;
    padding: 2px 5px 3px 5px;
    color: $black;
    border: 1px solid $gray-4;
    border-radius: 4px;
    background-color: #99999938;
}

.selectedName,
.selectedClear {
    padding: 2px 4px 0 4px;
    border: 1px solid $gray-4;
    border-radius: 4px;
    width: max-content;
    vertical-align: middle;
    background-color: #99999938;
}

.selectedClear {
    cursor: pointer;
}

.sortWrapper {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.totalWrapper {
    div {
        height: 100%;
    }
}

@media (max-width: 960px) {
    // .total {
    //     margin-top: 4px;
    // }

    // .totalWrapper {
    //     height: 24px;
    // }
}

// @media (min-width: 960px) {
//     .total {
//         margin-top: 8px;
//     }
// }
