$primary: #159399;
$primary-1: #219da3;
$primary-2: #33aab0;
$primary-3: #49babf;
$primary-4: #67c5c9;

$gray: #777777;
$gray-1: #8a8a8a;
$gray-2: #999999;
$gray-3: #a6a6a6;
$gray-4: #cccccc;

$blue: #29b2fe;

$danger: #fa1c0c;
$white: #fff;
$black: #000;
$hot: #eb5c6d;
