@import 'styles/_theme.scss';

.search {
    padding: 12px;
    border: 1px solid $gray-3;

    &:empty {
        display: none;
    }
}

.button {
    font-size: 12px !important;
    width: max-content;
}

.active {
    border-color: $primary !important;
    background-color: $primary !important;
    color: $white !important;
}

.dynamicRange {
    min-width: 150px;
    li {
        label {
            span {
                width: 70% !important;
            }
        }
    }
}
